<form method="POST" action="/categorias/editar/<%= categoria.id %>">
    <input type="text" placeholder="Insira o nome da categoria"  name="categoria" value="<%= categoria.categoria %>"/>
    <button>Salvar</button>
</form>
